@charset "UTF-8";
@font-face {
  font-family: "mainTitle";
  src: url("../fonts/UsuallyfontRegular.eot");
  src: url("../fonts/UsuallyfontRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UsuallyfontRegular.woff2") format("woff2"), url("../fonts/UsuallyfontRegular.woff") format("woff"), url("../fonts/UsuallyfontRegular.ttf") format("truetype"), url("../fonts/UsuallyfontRegular.svg#UsuallyfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mainTitle";
  src: url("../fonts/UsuallyfontBold.eot");
  src: url("../fonts/UsuallyfontBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UsuallyfontBold.woff2") format("woff2"), url("../fonts/UsuallyfontBold.woff") format("woff"), url("../fonts/UsuallyfontBold.ttf") format("truetype"), url("../fonts/UsuallyfontBold.svg#UsuallyfontBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Основной текст Сайта */
@font-face {
  font-family: "mainText";
  src: url("../fonts/UindbaseFont1.eot");
  src: url("../fonts/UindbaseFont1.eot?#iefix") format("embedded-opentype"), url("../fonts/UindbaseFont1.woff2") format("woff2"), url("../fonts/UindbaseFont1.woff") format("woff"), url("../fonts/UindbaseFont1.ttf") format("truetype"), url("../fonts/UindbaseFont1.svg#UindbaseFont1") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Дополнительный текст и шрифт кнопок */
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --main-fon:#1E1E1E;
  --main-color-text: #ffffff;
  --title-shadow: #1F252D;
  --color-btn: #D1C12B;
  --bg-btn: rgba(15, 21, 29, 0.2);
  --card-product-fon: #10171F;
}

body {
  font-family: "mainText";
  font-weight: normal;
  background-color: var(--main-fon);
  color: var(--main-color-text);
  font-size: 15px;
}

.container {
  width: 92%;
  max-width: 1100px;
  margin: auto;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 38px 12px 30px;
  color: var(--color-btn);
  background: var(--bg-btn);
  border: 2px solid var(--color-btn);
  border-radius: 50px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(119, 165, 225, 0.2);
}
.btn img {
  width: 23px;
  height: 16px;
  margin-right: 25px;
}

.burg {
  position: relative;
  width: 53px;
  height: 32px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
.burg span {
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background-color: var(--color-btn);
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.burg span:nth-child(2), .burg span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burg span:nth-child(4) {
  bottom: 0;
}
.burg_activ span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burg_activ span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burg_activ span:nth-child(1) {
  top: -100%;
  opacity: 0;
}
.burg_activ span:nth-child(4) {
  bottom: -100%;
  opacity: 0;
}

main.main {
  overflow: hidden;
  padding: 0px 15px;
}

/* Header - Menu */
.header {
  width: 100%;
  padding-top: 65px;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header_logo {
  width: 124px;
  margin-right: 58px;
}
.header_logo img {
  width: 100%;
}

.header_menu_wrap {
  width: 615px;
  max-width: 100%;
}

.header_menu {
  width: 100%;
  padding-top: 13px;
  margin-bottom: 20px;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-items .menu-item a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-decoration: none;
}
.menu-items .menu-item a:hover {
  color: var(--color-btn);
}
.menu-items .menu-item a.activ {
  color: var(--color-btn);
}

.header_menu_gender {
  width: 296px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_menu_gender a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-decoration: none;
}
.header_menu_gender a:hover {
  color: var(--color-btn);
}

.header_social {
  margin-left: auto;
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_social a {
  color: var(--main-color-text);
}
.header_social a .fa {
  font-size: 20px;
}
.header_social a .fa:hover {
  color: var(--color-btn);
}

@media (max-width: 820px) {
  .header_logo, .header_social {
    display: none;
  }
  .header_menu_wrap, .header_menu_gender {
    margin: auto;
  }
}
@media (max-width: 425px) {
  .burg {
    display: block;
  }
  .header {
    padding-top: 30px;
  }
  .container {
    width: 90%;
  }
  .header_wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_menu_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    background: black;
    z-index: 100;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
  .header_menu_wrap_activ {
    right: 0;
  }
  .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-items li.menu-item {
    margin-bottom: 15px;
  }
  .header_menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto 50px;
  }
  .menu-items .menu-item a {
    font-size: 28px;
  }
  .header_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* Главный Экран Сайта */
.home {
  position: relative;
  width: 100%;
  min-height: 617px;
  padding-top: 115px;
}
.home .container .btn {
  margin-left: auto;
}
.home::before {
  content: "Одежда для каждого";
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 148px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-shadow);
  z-index: 1;
}

.main_info {
  position: relative;
  width: 937px;
  max-width: 100%;
  margin: 0 auto 200px;
  text-align: center;
  z-index: 10;
}
.main_info h1 {
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 87px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 14px;
}

.main_info_logo {
  width: 210px;
  max-width: 100%;
  margin: 0 auto 25px;
  text-align: center;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-shadow: 10px 24px 10px rgba(0, 0, 0, 0.27);
  margin-bottom: 25px;
}

.home_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85px;
  margin: auto;
  display: none;
}
.home_social a .fa {
  font-size: 24px;
  color: var(--main-color-text);
}
.home_social a .fa:hover {
  color: var(--color-btn);
}

@media (max-width: 820px) {
  .home {
    padding-top: 91px;
  }
  .main_info h1 {
    font-size: 60px;
    line-height: 52px;
    margin-bottom: 48px;
  }
  .home::before {
    font-size: 80px;
    line-height: 70px;
    top: 150px;
  }
  .home_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .container .btn {
    margin: auto;
  }
  .main_info {
    margin: 0px auto 49px;
  }
}
@media (max-width: 667px) {
  .home::before {
    top: 121px;
  }
}
@media (max-width: 425px) {
  .home {
    padding-top: 63px;
  }
  .main_info h1 {
    font-size: 40px;
    margin-bottom: 22px;
  }
  .home::before {
    font-size: 60px;
    line-height: 52px;
    top: 109px;
  }
  .home_social {
    display: none;
  }
  .home .container .btn {
    margin: initial;
    margin-left: auto;
  }
  .subtitle {
    margin-bottom: 125px;
  }
}
@media (max-width: 414px) {
  .home::before {
    font-size: 57px;
  }
}
@media (max-width: 375px) {
  .btn {
    padding: 10px 38px 8px 30px;
  }
  .home {
    min-height: 460px;
  }
  .main_info h1 {
    font-size: 35px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .home .container .btn {
    margin: initial;
    margin: auto;
  }
}
@media (max-width: 320px) {
  .main_info h1 {
    font-size: 30px;
  }
  .home .container .btn {
    margin: initial;
    margin: auto;
  }
}
/* Раздел season - На этот сезон */
.season {
  position: relative;
  width: 100%;
  padding-top: 124px;
}
.season h2 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  width: 679px;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: var(--main-color-text);
  -webkit-filter: drop-shadow(9px 9px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(9px 9px 4px rgba(0, 0, 0, 0.25));
}
.season::before {
  content: "На этот сезон";
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 148px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-shadow);
  z-index: -1;
}

.season_slider {
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: auto;
}
.season_slider ul.slick-dots {
  position: relative;
  bottom: 70px;
  width: 921px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}
.season_slider ul.slick-dots li button {
  font-size: 0;
  width: 161px;
  height: 2px;
  border: none;
  cursor: pointer;
}
.season_slider ul.slick-dots li.slick-active button {
  background-color: var(--color-btn);
}
.season_slider .slick-arrow {
  position: absolute;
  bottom: 120px;
  left: 25px;
  width: 209px;
  cursor: pointer;
}
.season_slider .slick-arrow img {
  width: 100%;
}

.season_slider_block {
  position: relative;
  width: 100%;
  min-height: 587px;
}
.season_slider_block > img {
  width: 100%;
  height: 100%;
}

.season_slider_info {
  position: absolute;
  top: 312px;
  right: 100px;
  width: 300px;
  max-width: 100%;
  text-align: center;
}
.season_slider_info p {
  margin-bottom: 14px;
}
.season_slider_info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.season_slider_info > div a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .season::before {
    font-size: 150px;
  }
  .season_slider_block {
    min-height: 545px;
  }
  .season_slider_info {
    top: 178px;
  }
}
@media (max-width: 820px) {
  main.main {
    padding: 0 0;
  }
  .season {
    padding-top: 0;
  }
  .season h2 {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 60px;
    padding-left: 69px;
    width: 700px;
  }
  .season::before {
    font-size: 90px;
    top: -98px;
    left: 72px;
    line-height: 130px;
    text-align: left;
  }
  .season_slider_info {
    display: none;
  }
  .season_slider_block {
    min-height: 459px;
  }
  .season_slider ul.slick-dots {
    width: 555px;
  }
  .season_slider ul.slick-dots li button {
    width: 101px;
  }
}
@media (max-width: 768px) {
  .season_slider_block {
    min-height: 445px;
  }
}
@media (max-width: 667px) {
  .season h2 {
    font-size: 70px;
  }
  .season_slider_block {
    min-height: 390px;
  }
}
@media (max-width: 425px) {
  .season h2 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 5px;
    padding-left: 0px;
    width: 381px;
  }
  .season::before {
    font-size: 60px;
    top: -5px;
    left: 16px;
    line-height: 60px;
  }
  .season_slider_block {
    min-height: 278px;
  }
  .season_slider .slick-arrow {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .season_slider ul.slick-dots {
    width: 263px;
  }
  .season_slider ul.slick-dots li button {
    width: 51px;
  }
}
@media (max-width: 390px) {
  .season_slider_block {
    min-height: 260px;
  }
}
@media (max-width: 375px) {
  .season h2 {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
  }
  .season::before {
    font-size: 52px;
    top: -25px;
  }
  .season_slider_block {
    min-height: 254px;
  }
}
@media (max-width: 320px) {
  .season h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .season::before {
    font-size: 44px;
    top: -56px;
    line-height: 40px;
  }
  .season_slider_block {
    min-height: 227px;
  }
  .season_slider .slick-arrow {
    bottom: 100px;
  }
}
/* Раздел topical - Актуальное */
.topical {
  width: 100%;
  margin-top: -25px;
}
.topical h2 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  text-align: right;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 150px;
}
.topical h2::before {
  content: "Актуальное";
  position: absolute;
  right: -33px;
  width: 1163px;
  top: -66px;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 148px;
  text-align: right;
  text-transform: uppercase;
  color: var(--title-shadow);
  word-wrap: break-word;
  z-index: -1;
}
.topical .see-more {
  width: 100%;
  text-align: right;
  padding: 50px 0;
}
.topical .see-more a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--main-color-text);
}
.topical .see-more a:hover {
  color: var(--color-btn);
  border-bottom: 1px solid var(--color-btn);
}

.topical_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 12px;
}

.topical_item {
  width: 250px;
  background: #10171F;
  -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 10px;
}
.topical_item .topical_img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}
.topical_item .topical_img img {
  border-radius: 10px 10px 0 0;
}
.topical_item h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 10px;
}

.topical_prise_cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.topical_prise_cart .prise {
  width: 82px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--main-color-text);
}
.topical_prise_cart .topical_cart {
  width: 109px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--main-color-text);
  border-bottom: 1px solid var(--main-color-text);
  text-decoration: none;
}
.topical_prise_cart .topical_cart:hover {
  color: var(--color-btn);
  border-bottom: 1px solid var(--color-btn);
}

@media (max-width: 1024px) {
  .topical h2::before {
    font-size: 160px;
    width: 977px;
    max-width: 100%;
  }
  .topical_item {
    width: 215px;
  }
}
@media (max-width: 820px) {
  .topical h2 {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 87px;
    text-align: center;
  }
  .topical h2::before {
    font-size: 80px;
    right: 22px;
    width: auto;
    top: -31px;
  }
  .topical_items {
    width: 630px;
    max-width: 100%;
    margin: auto;
  }
  .topical_item {
    width: 300px;
  }
  .topical_item .topical_img img {
    width: 100%;
  }
  .topical_item:nth-child(odd) {
    display: none;
  }
  .topical .see-more {
    display: none;
  }
}
@media (max-width: 768px) {
  .topical h2::before {
    right: 15px;
  }
}
@media (max-width: 667px) {
  .topical h2 {
    font-size: 70px;
    margin-bottom: 60px;
  }
  .topical h2::before {
    font-size: 70px;
  }
}
@media (max-width: 640px) {
  .topical h2::before {
    font-size: 106px;
    line-height: 97px;
  }
  .topical_item {
    width: 282px;
  }
}
@media (max-width: 568px) {
  .topical_item {
    width: 250px;
  }
}
@media (max-width: 425px) {
  .topical h2 {
    font-size: 60px;
    line-height: 60px;
  }
  .topical h2::before {
    width: 420px;
    font-size: 80px;
    line-height: 70px;
    top: -46px;
  }
  .topical_item {
    width: 180px;
  }
  .topical_item h3, .topical_prise_cart .topical_cart, .topical_prise_cart .prise {
    font-size: 15px;
  }
}
@media (max-width: 414px) {
  .topical h2::before {
    right: 4px;
  }
}
@media (max-width: 393px) {
  .topical_item {
    width: 170px;
  }
  .topical h2::before {
    right: 7px;
    font-size: 62px;
  }
}
@media (max-width: 390px) {
  .topical_item {
    width: 170px;
  }
  .topical h2::before {
    right: -18px;
  }
}
@media (max-width: 375px) {
  .topical h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .topical h2::before {
    width: 100%;
    font-size: 68px;
    line-height: 68px;
    right: 15px;
  }
  .topical_item {
    width: 165px;
  }
}
@media (max-width: 360px) {
  .topical h2::before {
    font-size: 73px;
    right: 40px;
  }
  .topical_item {
    width: 156px;
  }
  .topical_item h3, .topical_prise_cart .topical_cart, .topical_prise_cart .prise {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .topical h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .topical h2::before {
    font-size: 55px;
    line-height: 60px;
    right: 8px;
  }
  .topical_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .topical_item .topical_img img {
    width: 100%;
  }
  .topical_item h3, .topical_prise_cart .topical_cart, .topical_prise_cart .prise {
    font-size: 20px;
    line-height: 25px;
  }
}
/* Раздел Контакты */
.contact {
  width: 100%;
  padding: 103px 0 64px 0;
}
.contact h2 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 45px;
}
.contact h2:before {
  content: "контакты";
  position: absolute;
  top: -70px;
  left: 0;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 160px;
  line-height: 160px;
  text-transform: uppercase;
  color: var(--title-shadow);
  letter-spacing: -15px;
  z-index: -1;
}

.contact_wrap {
  width: 1100px;
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_map {
  width: 800px;
  max-width: 100%;
}

.contact_info {
  width: 270px;
  text-align: center;
}
.contact_info p {
  margin-bottom: 20px;
}
.contact_info p a {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-decoration: none;
}
.contact_info p a:hover {
  color: var(--color-btn);
}

.contact_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85px;
  margin: auto;
}
.contact_social a .fa {
  font-size: 24px;
  color: var(--main-color-text);
}
.contact_social a .fa:hover {
  color: var(--color-btn);
}

@media (max-width: 1024px) {
  .contact h2:before {
    font-size: 135px;
  }
  .contact_map {
    width: 700px;
  }
}
@media (max-width: 820px) {
  .contact h2 {
    width: 510px;
    padding-left: 72px;
  }
  .contact h2:before {
    top: -25px;
    left: -26px;
    font-size: 100px;
    letter-spacing: 0px;
  }
  .contact_map {
    width: 100%;
    margin-bottom: 36px;
  }
  .contact_info {
    margin: auto;
  }
}
@media (max-width: 425px) {
  .contact h2 {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    padding-left: 0;
    margin-bottom: 23px;
  }
  .contact h2:before {
    top: -30px;
    font-size: 50px;
    width: 420px;
    line-height: 50px;
  }
  .contact_social {
    display: none;
  }
}
/* Footer сайта */
.footer {
  width: 100%;
  padding: 40px 0 15px;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_wrap .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85px;
  margin-left: auto;
}
.footer_wrap .footer_social a .fa {
  font-size: 24px;
  color: var(--main-color-text);
}
.footer_wrap .footer_social a .fa:hover {
  color: var(--color-btn);
}

.policy {
  margin-right: 143px;
}

.footer_logo {
  width: 195px;
}
.footer_logo a {
  display: inline-block;
}

.footer_copy {
  width: 175px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_copy a {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-color-text);
}

@media (max-width: 820px) {
  .footer {
    padding: 88px 0 40px;
  }
  .footer_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer_wrap .footer_social {
    margin-left: 0;
  }
  .policy {
    margin-right: 0px;
    text-align: center;
  }
  .footer_logo {
    margin-bottom: 26px;
  }
}
@media (max-width: 425px) {
  .footer {
    padding: 0px 0 29px;
  }
}
/* =================== Страница Коллекции ================= */
/* Раздел Коллекции */
.main-collection {
  position: relative;
  width: 100%;
  padding: 130px 0 78px;
}
.main-collection::before {
  content: "Коллекции";
  font-family: "mainTitle";
  position: absolute;
  top: 30px;
  left: 75px;
  letter-spacing: -11px;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 113px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-shadow);
  z-index: -1;
}

.main-collection_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-collection_tabs {
  width: 228px;
}
.main-collection_tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-collection_tabs ul li:first-child a {
  padding-top: 0;
}
.main-collection_tabs ul li:last-child {
  margin-bottom: 20px;
}
.main-collection_tabs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  padding: 20px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-decoration: none;
}
.main-collection_tabs ul li a span img {
  width: 0px;
  margin-right: 2px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.main-collection_tabs ul li a:hover img {
  width: 55px;
}
.main-collection_tabs ul li a.activ_collection img {
  width: 55px;
}

.main-collection_color {
  width: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-collection_color a.activ_color img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-collection_cart {
  width: 864px;
  max-width: 100%;
}
.main-collection_cart .topical_items .topical_item {
  width: 272px;
  margin-bottom: 22px;
}

/* Footer */
#Collection footer {
  padding: 40px 0 10px;
}

@media (max-width: 820px) {
  .main-collection::before {
    font-size: 80px;
    line-height: 70px;
    left: 13px;
  }
  .main-collection_tabs {
    width: 209px;
  }
  .main-collection_cart {
    width: 475px;
  }
  .main-collection_cart .topical_items .topical_item {
    width: 230px;
  }
  .main-collection_cart .topical_items .topical_item:nth-child(odd) {
    display: block;
  }
}
@media (max-width: 667px) {
  .main-collection_tabs {
    width: 190px;
  }
  .main-collection_cart {
    width: 410px;
  }
  .main-collection_cart .topical_items .topical_item {
    width: 195px;
  }
  .main-collection_cart .topical_items .topical_item h3 {
    font-size: 18px;
  }
  .main-collection_cart .topical_items .topical_prise_cart .prise, .main-collection_cart .topical_items .topical_cart {
    font-size: 17px;
  }
}
@media (max-width: 640px) {
  .main-collection_tabs {
    width: 170px;
  }
  .contact {
    padding: 0px 0 64px 0;
  }
  .contact h2:before {
    top: -38px;
    font-size: 79px;
  }
}
@media (max-width: 568px) {
  .main-collection::before {
    font-size: 58px;
  }
  .menu-items .menu-item a {
    font-size: 17px;
  }
  .main-collection_tabs ul li a {
    font-size: 20px;
  }
  .main-collection_tabs {
    width: 206px;
  }
  .main-collection_cart {
    width: 194px;
  }
  .contact {
    padding: 30px 0 64px 0;
  }
  .contact h2 {
    width: 100%;
    font-size: 55px;
    padding-left: 0px;
  }
  .contact h2:before {
    top: -100px;
    font-size: 59px;
  }
}
@media (max-width: 425px) {
  .menu-items .menu-item a {
    font-size: 20px;
  }
  .main-collection_tabs {
    display: none;
  }
  .main-collection_cart {
    width: 100%;
  }
  .main-collection_cart .topical_items .topical_item {
    width: 180px;
  }
  .main-collection::before {
    font-size: 56px;
    top: 73px;
  }
  .main-collection_cart .topical_items .topical_prise_cart .prise, .main-collection_cart .topical_items .topical_cart {
    font-size: 15px;
  }
  .contact {
    padding: 103px 0 0px 0;
  }
  #Collection > .main > .contact {
    padding: 0px 0 0px 0;
  }
  .contact h2 {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    padding-left: 0;
    margin-bottom: 6px;
  }
  .contact h2:before {
    top: -30px;
    font-size: 50px;
    width: 420px;
    line-height: 50px;
    left: 0;
  }
  #Collection footer {
    padding: 0px 0 29px;
  }
}
@media (max-width: 393px) {
  .contact h2:before {
    font-size: 47px;
  }
}
@media (max-width: 390px) {
  .main-collection::before {
    font-size: 50px;
  }
  .main-collection_cart .topical_items .topical_item {
    width: 165px;
  }
  .main-collection_cart .topical_items .topical_item h3 {
    font-size: 17px;
  }
  .contact h2:before {
    font-size: 46px;
  }
}
@media (max-width: 375px) {
  .contact h2:before {
    font-size: 44px;
  }
}
@media (max-width: 320px) {
  .main-collection::before {
    font-size: 44px;
  }
  .contact h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .contact h2:before {
    font-size: 36px;
  }
  .main-collection_cart .topical_items .topical_item {
    width: 100%;
  }
  .main-collection_cart .topical_items .topical_item h3 {
    font-size: 20px;
  }
  .main-collection_cart .topical_items .topical_prise_cart .prise, .main-collection_cart .topical_items .topical_cart {
    font-size: 20px;
  }
}
/* =================== Страница О нас ================= */
/* Раздел Главный */
.about_home {
  width: 100%;
  padding: 100px 0 50px;
}
.about_home h1 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  text-align: right;
  text-transform: uppercase;
  color: var(--main-colo);
  text-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 84px;
}
.about_home h1::before {
  content: "О нас";
  position: absolute;
  top: -64px;
  right: 0;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 160px;
  line-height: 160px;
  text-align: right;
  text-transform: uppercase;
  color: var(--title-shadow);
  z-index: -1;
}

.about_info p {
  font-family: "Uindbase Font 1";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--main-color-text);
}

/* Слайдер раздела О нас */
.about-foto {
  width: 100%;
}

.about-slider {
  width: 100%;
}

.about-slider_block {
  margin: 0 10px;
}
.about-slider_block img {
  width: 100%;
}

@media (max-width: 820px) {
  .about_home h1 {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 15px;
  }
  .about_home h1::before {
    font-size: 70px;
    line-height: 70px;
    right: 59%;
    top: -33px;
  }
  .about_info p {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 800px) {
  .about_home h1::before {
    right: 57%;
  }
}
@media (max-width: 768px) {
  .about_home h1::before {
    right: 55%;
  }
  .about_info p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 667px) {
  .about_home h1::before {
    right: 49%;
  }
}
@media (max-width: 640px) {
  .about_home h1::before {
    right: 47%;
  }
  .about-foto {
    padding-bottom: 50px;
  }
}
@media (max-width: 568px) {
  .about_home h1 {
    font-size: 50px;
  }
  .about_home h1::before {
    right: 41%;
  }
  .about_info p {
    font-size: 15px;
    line-height: 23px;
  }
  .about-foto {
    padding-bottom: 90px;
  }
}
@media (max-width: 425px) {
  .about_home h1 {
    font-size: 60px;
    margin-bottom: 32px;
  }
  .about_home h1::before {
    font-size: 51px;
    line-height: 48px;
    right: 27%;
    top: -33px;
  }
  .about-foto {
    padding-bottom: 0px;
  }
  .about-slider ul.slick-dots {
    position: relative;
    bottom: -5px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .about-slider ul.slick-dots li button {
    font-size: 0;
    width: 75px;
    height: 2px;
    border: none;
    cursor: pointer;
  }
  .about-slider ul.slick-dots li.slick-active button {
    background-color: var(--color-btn);
  }
}
@media (max-width: 360px) {
  .about-slider ul.slick-dots li button {
    width: 65px;
  }
}
@media (max-width: 320px) {
  .about_home h1::before {
    right: 19%;
  }
  .about-slider ul.slick-dots li button {
    width: 60px;
  }
}
/* ======================== Страница с Корзинной =========================== */
.section-basket {
  position: relative;
  width: 100%;
  padding: 123px 0 95px;
}
.section-basket::before {
  content: "Корзина";
  position: absolute;
  top: 28px;
  left: 54px;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 113px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-shadow);
  z-index: -1;
}
.section-basket .basket_button button {
  margin-left: auto;
}
.section-basket .basket_button .total-block_table {
  display: none;
}

.section-basket_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 78px;
}

.section-basket_products {
  width: 760px;
  max-width: 100%;
  border-right: 3px solid #1F252D;
  padding-right: 14px;
}
.section-basket_products .total-block {
  width: 386px;
  max-width: 100%;
  margin-left: auto;
}
.section-basket_products .total-block p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: #3B4654;
  text-align: right;
  margin-bottom: 23px;
}
.section-basket_products .total-block table.total-block_table {
  width: 285px;
  text-align: right;
  margin-left: auto;
}
.section-basket_products .total-block table.total-block_table tr {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.section-basket_products .total-block table.total-block_table tr td {
  padding-bottom: 28px;
}

.private-data {
  background: var(--card-product-fon);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 194px;
}
.private-data form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px 20px;
  gap: 12px;
}
.private-data form label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--main-color-text);
  cursor: pointer;
}
.private-data form input {
  display: none;
}

.radio_private_castom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radio_private_castom span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #3B4654;
  background-image: url(../img/Vector.svg);
  background-size: 0%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.private-data form input:checked + span > span {
  background-image: url(../img/Vector.svg);
  background-size: 100%;
  background-position: center 105%;
}

.basket_product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--card-product-fon);
  -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 16px;
}

.basket_product_img {
  width: 150px;
  height: 150px;
}
.basket_product_img img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.basket_product_info {
  width: 574px;
  max-width: 100%;
  padding: 31px 10px 31px 0;
}
.basket_product_info h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 33px;
}

.basket_info_calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.basket_info_calc label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--main-color-text);
}
.basket_info_calc label:nth-child(1) select {
  width: 48px;
  background: transparent;
  color: var(--main-color-text);
  border: none;
  outline: none;
  margin-left: 13px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.basket_info_calc label:nth-child(1) select option {
  background-color: var(--card-product-fon);
}
.basket_info_calc label:nth-child(1) select::-ms-expand {
  display: none;
}
.basket_info_calc div:nth-child(2) {
  width: 150px;
  margin-right: 45px;
}
.basket_info_calc div:nth-child(2) label .calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.basket_info_calc div:nth-child(2) label .calc input {
  width: 20px;
  background: transparent;
  color: var(--main-color-text);
  border: none;
  outline: none;
}
.basket_info_calc div:nth-child(2) label .calc .calc-minus {
  margin-left: 20px;
}
.basket_info_calc div:nth-child(3) {
  width: 220px;
}
.basket_info_calc div:nth-child(3) label input {
  width: 70px;
  background: transparent;
  color: var(--main-color-text);
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--main-color-text);
  margin-left: 25px;
}

.calc .calc-minus, .calc .calc-plus {
  cursor: pointer;
}

.section-basket_form {
  width: 330px;
  max-width: 100%;
}
.section-basket_form h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 13px;
}
.section-basket_form p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
  margin-bottom: 5px;
}
.section-basket_form form {
  width: 100%;
}
.section-basket_form form div {
  width: 100%;
}
.section-basket_form form div input {
  width: 100%;
  background: var(--card-product-fon);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  color: var(--main-color-text);
  border: none;
  outline: none;
}
.section-basket_form form div input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
}
.section-basket_form form div input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
}
.section-basket_form form div input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
}
.section-basket_form form div input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
}
.section-basket_form form div input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
}
.section-basket_form form div label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3B4654;
  margin-bottom: 5px;
}
.section-basket_form form div:nth-child(3) {
  margin-bottom: 20px;
}
.section-basket_form form div:nth-child(4) {
  margin-bottom: 20px;
}
.section-basket_form form div:nth-child(7) {
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}
.section-basket_form form div:nth-child(7) input {
  width: 104px;
}

/* ---- Стилизация Radio button ---- */
.wrap_check {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap_check div.block_check {
  width: 160px;
  background: var(--card-product-fon);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.wrap_check div.block_check input[type=radio] {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
}
.wrap_check div.block_check label {
  position: relative;
  display: inline-block;
  padding: 15px 10px 8px 20px;
  color: var(--main-color-text);
  cursor: pointer;
}
.wrap_check div.block_check label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #3B4654;
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(../img/Vector.svg);
  background-size: 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrap_check .private-data {
  display: none;
}

input[type=radio]:checked + label::before {
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ////---- Стилизация Radio button ----//// */
#Basket footer {
  padding: 40px 0 10px;
}

@media (max-width: 820px) {
  .section-basket::before {
    font-size: 80px;
    line-height: 70px;
  }
  .section-basket_wrap {
    margin-bottom: 26px;
  }
  .section-basket_products {
    border-right: none;
    padding-right: 0;
  }
  .section-basket_products .private-data {
    display: none;
  }
  .section-basket_form {
    width: 100%;
  }
  .section-basket_form .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-basket_form .form .form_wrap {
    width: 425px;
    margin-right: 26px;
  }
  .section-basket_form .form .wrap_check_blocks {
    width: 194px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check div {
    width: 240px;
    margin-bottom: 20px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check div label {
    width: 100%;
    padding: 15px 10px 8px 66px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check .private-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check .private-data input {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: none;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check .private-data label {
    color: var(--main-color-text);
    padding: 15px 10px 8px 19px;
  }
  .basket_product_info h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .basket_info_calc label {
    font-size: 15px;
    line-height: 15px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check .private-data input:checked + span > span {
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .section-basket table {
    width: 248px;
    margin-left: auto;
  }
  .section-basket table tr {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .section-basket table tr td {
    padding-bottom: 10px;
  }
  .section-basket .basket_button button {
    margin: 60px auto 0;
  }
  .section-basket_products .total-block table.total-block_table tr:first-child {
    display: none;
  }
  .section-basket .basket_button .total-block_table {
    display: block;
  }
}
@media (max-width: 768px) {
  .basket_product_info {
    width: 550px;
    padding: 31px 10px 31px 15px;
  }
}
@media (max-width: 667px) {
  .basket_product_info {
    width: 465px;
  }
  .section-basket_form .form .form_wrap {
    margin-right: 22px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check div {
    width: 100%;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check div label {
    padding: 15px 10px 8px 20px;
  }
  .section-basket_form .form .wrap_check_blocks .wrap_check .private-data {
    padding-left: 20px;
  }
  .basket_info_calc div:nth-child(2) {
    margin-right: 30px;
  }
}
@media (max-width: 568px) {
  .section-basket::before {
    left: 20px;
    font-size: 76px;
  }
  .basket_product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basket_product_info {
    width: 100%;
  }
  .basket_product_info h3 {
    font-size: 26px;
  }
  .basket_info_calc label {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .section-basket::before {
    top: 45px;
    left: 20px;
    font-size: 55px;
    line-height: 48px;
  }
  .basket_product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .basket_product_info {
    width: 58%;
  }
  .basket_info_calc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basket_info_calc div {
    margin-bottom: 10px;
  }
  .section-basket_form .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-basket_form .form .form_wrap {
    width: 100%;
    margin-right: 0;
  }
  .section-basket_form .form .wrap_check_blocks {
    width: 100%;
  }
}
@media (max-width: 393px) {
  .section-basket::before {
    font-size: 50px;
  }
  .basket_product_info {
    width: 61%;
  }
}
@media (max-width: 390px) {
  .section-basket {
    padding: 123px 0 0px;
  }
}
@media (max-width: 320px) {
  .section-basket::before {
    font-size: 42px;
  }
  .basket_product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .basket_product_info {
    width: 100%;
  }
  .basket_product_img {
    margin: auto;
  }
}
/* ================= СТраница Основной Коллекции Главный раздел Коллекции ===================== */
.product-home {
  position: relative;
  width: 100%;
  padding: 130px 0 40px;
}
.product-home::before {
  content: "Классика";
  position: absolute;
  top: 80px;
  left: 24px;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 105px;
  text-align: center;
  color: var(--title-shadow);
  z-index: -1;
}
.product-home .see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-home .see button {
  margin-left: auto;
}

.product-home_more {
  width: 348px;
  margin-left: auto;
}
.product-home_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--main-color-text);
  text-decoration: none;
}
.product-home_more a span {
  margin-left: 17px;
}
.product-home_more a span img {
  width: 126px;
  height: 6px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.product-home_more a:hover {
  color: var(--color-btn);
}
.product-home_more a:hover img {
  width: 70px;
}
.product-home_more + .product-home_info {
  display: none;
}

.product-home_wrap {
  width: 1020px;
  max-width: 100%;
  margin: 32px auto 44px;
}
.product-home_wrap .product_wrap_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-home_left-col {
  width: 300px;
  max-width: 100%;
}
.product-home_left-col .product-home_img {
  width: 100%;
  height: content;
}
.product-home_left-col .product-home_img:first-child {
  margin-bottom: 17px;
}
.product-home_left-col .product-home_img:nth-child(2) {
  position: relative;
  width: 553px;
  height: 344px;
}
.product-home_left-col .product-home_info_year {
  width: 100%;
  height: 388px;
}
.product-home_left-col .product-home_info_year p {
  position: relative;
  left: 63px;
  top: 190px;
  font-family: "mainTitle";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 74px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--main-color-text);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.product-home_left-col .product-home_info_year p::after {
  content: "классическая коллекция";
  position: absolute;
  top: -115px;
  right: -64px;
  width: 200px;
  font-family: "mainText";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--main-color-text);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.product-home_right-col {
  width: 700px;
  max-width: 100%;
}
.product-home_right-col .product-home_img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.product-home_right-col .product-home_info p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--main-color-text);
}

#Product .topical {
  padding: 40px 0 33px;
  margin-top: 0;
}
#Product .topical h2 {
  width: 679px;
  max-width: 100%;
  margin-left: auto;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .product-home_right-col {
    width: 66%;
  }
  .product-home_left-col {
    width: 32%;
  }
  .product-home_left-col .product-home_info_year p {
    left: 63px;
    top: 124px;
    font-size: 70px;
  }
  .product-home_wrap {
    margin: 32px auto 0px;
  }
  #Product .topical h2 {
    width: auto;
  }
}
@media (max-width: 820px) {
  .product-home::before {
    font-size: 80px;
    line-height: 70px;
  }
  .product-home_left-col .product-home_info_year p::after {
    font-size: 23px;
    top: -87px;
  }
  .product-home_right-col .product-home_info p {
    margin-top: 100px;
  }
  #Product .topical h2 {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .product-home_more + .product-home_info {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    display: block;
    margin-top: 32px;
  }
  .product-home_right-col .product-home_info p {
    margin-top: 146px;
    font-size: 20px;
  }
  .product-home_left-col .product-home_info_year p {
    line-height: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 126px;
    left: 0;
  }
  .product-home_left-col .product-home_info_year p::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: -70px;
    right: 15px;
  }
  .product-home_left-col .product-home_info_year {
    height: 248px;
  }
  .product-home_right-col .product-home_info p {
    margin-top: 48px;
  }
  .product-home_right-col .product-home_info {
    padding-left: 20px;
  }
  .product-home .see {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-home .see button {
    margin-bottom: 66px;
  }
}
@media (max-width: 715px) {
  .product-home_left-col .product-home_info_year p {
    font-size: 65px;
  }
}
@media (max-width: 667px) {
  .product-home_right-col, .product-home_left-col {
    width: 49%;
  }
  .product-home_left-col .product-home_img:nth-child(2) {
    width: 100%;
    height: auto;
  }
  .product-home_wrap .product_wrap_columns {
    height: 100%;
  }
  .product-home_right-col .product-home_info, .product-home_left-col .product-home_info_year {
    display: none;
  }
  .product-home_wrap {
    height: 549px;
    margin: 32px auto 0px;
  }
}
@media (max-width: 568px) {
  .product-home::before {
    font-size: 69px;
    top: 50px;
  }
  .product-home_more + .product-home_info {
    font-size: 20px;
  }
  .product-home_wrap {
    height: 500px;
  }
  .product-home_more {
    margin-left: inherit;
  }
}
@media (max-width: 425px) {
  .product-home::before {
    font-size: 50px;
    line-height: 44px;
  }
  .product-home_more + .product-home_info {
    font-size: 15px;
  }
  .product-home_wrap {
    height: 400px;
  }
  #Product .contact {
    padding: 30px 0 0px 0;
  }
}
@media (max-width: 414px) {
  .product-home::before {
    font-size: 45px;
  }
  .product-home_wrap {
    height: 360px;
  }
}
@media (max-width: 360px) {
  .product-home::before {
    font-size: 42px;
  }
  .product-home_wrap {
    height: 342px;
  }
}
@media (max-width: 320px) {
  .product-home::before {
    font-size: 37px;
  }
  .product-home_more a {
    font-size: 16px;
  }
  .product-home_more a span {
    margin-left: 8px;
  }
  .product-home_more {
    width: 290px;
    margin-left: auto;
  }
}